{
	"production": {
		"host": "",
		"db": "",
		"user": "",
		"passwd": ""
	},
	"development": {
		"host": "",
		"db": "",
		"user": "",
		"passwd": ""
	},
	"test": {
		"host": "",
		"db": "",
		"user": "",
		"passwd": ""
	}
}
