{% extends "layout.html" %}
{% block title %}Upload Photos ;){% endblock %}
{% block style %}
<style type="text/css">
body {
	background-image: url("/static/img/upload_bg.jpg")
}
</style>
{% endblock %}
{% block content %}
<div class="jumbotron">
	<h3>Upload images here</h3>
	<form action="/upload" method="POST" enctype="multipart/form-data">
		<div class="form-group">
			<input id="image" name="image" type="file" />
		</div>
		<button class="btn btn-default">Upload</button>
	</form>
</div>
{% endblock %}
